AMDAT
build/*.o
*.o
.vscode/
.env/

# voro temp files
src/voro++-0.4.6/examples/basic/import
src/voro++-0.4.6/examples/basic/platonic
src/voro++-0.4.6/examples/basic/random_points
src/voro++-0.4.6/examples/basic/single_cell
src/voro++-0.4.6/examples/custom/cell_statistics
src/voro++-0.4.6/examples/custom/custom_output
src/voro++-0.4.6/examples/custom/radical
src/voro++-0.4.6/examples/degenerate/degenerate
src/voro++-0.4.6/examples/degenerate/degenerate2
src/voro++-0.4.6/examples/extra/box_cut
src/voro++-0.4.6/examples/extra/cut_region
src/voro++-0.4.6/examples/extra/irregular
src/voro++-0.4.6/examples/extra/superellipsoid
src/voro++-0.4.6/examples/interface/find_voro_cell
src/voro++-0.4.6/examples/interface/loops
src/voro++-0.4.6/examples/interface/odd_even
src/voro++-0.4.6/examples/interface/polygons
src/voro++-0.4.6/examples/walls/cylinder
src/voro++-0.4.6/examples/walls/frustum
src/voro++-0.4.6/examples/walls/tetrahedron
src/voro++-0.4.6/examples/walls/torus
src/voro++-0.4.6/src/libvoro++.a
src/voro++-0.4.6/src/voro++
*.dat
*.xyz

build
.env
